* {
  margin: 0;
  padding: 0;
  /* font-family: "VT323", monospace; */
  font-family: "Courier New", Courier, monospace;
  --main: rgba(255, 255, 255, 1);
  --soft: rgba(255, 255, 255, 0.5);
  /* background-color: black; */
}

div,
p,
span,
strong {
  background-color: transparent;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

#right-main-container {
  width: 0%;
  height: 100%;
  background-color: rgba(20, 10, 20, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
}
#left-main-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(5, 5, 5, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
}

#right-main-container.active {
  width: 100%;
}

#main-console-container {
  width: 100%;
  height: 100%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#console-container {
  max-width: 80%;
  width: 100%;
  height: 80%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#console {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hide;
  transition: 0.5s ease;
  padding: 5px 0px;
}
#right-container {
  width: 100%;
}

#console-background {
  pointer-events: none;
  content: "";
  max-width: 80%;
  width: 100%;
  height: 80%;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(30, 0, 30, 0.7);
  box-shadow: 0px 0px 50px rgba(50, 0, 50, 0.5);
  transition: 0.5s ease;
}

#console-background.console-bg-off {
  background-color: rgba(10, 0, 10, 0.7);
  box-shadow: 0px 0px 20px rgba(50, 0, 50, 0);
  transition: 0.5s ease;
}
/* CONSOLE FILTERS */

.console-filter {
  pointer-events: none;
  content: "";
  max-width: 80%;
  width: 100%;
  height: 80%;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  transition: 1s ease;
}
.lines-filter {
  background: repeating-linear-gradient(
    rgb(0, 0, 0, 0.1),
    rgb(0, 0, 0, 0.1) 3px,
    rgb(255, 255, 255, 0.05) 3px,
    rgb(255, 255, 255, 0.05) 4px
  );
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1),
    inset 0 0 15px rgba(255, 255, 255, 0.05),
    inset 0 0 25px rgba(255, 255, 255, 0.1);
  transition: 1s ease;
}
.console-filter-off {
  background: repeating-linear-gradient(
    rgb(0, 0, 0, 0.3),
    rgb(0, 0, 0, 0.3) 3px,
    rgb(20, 20, 20, 0.5) 3px,
    rgb(20, 20, 20, 0.5) 4px
  );
  box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.1),
    inset 0 0 15px rgba(200, 200, 200, 0.05),
    inset 0 0 25px rgba(200, 200, 200, 0.1);
  transition: 1s ease;
}
#cover-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#console p {
  color: var(--main);
  white-space: pre-wrap;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.9);
  transition: 1s ease;
}
.console-p-off {
  opacity: 0;
  filter: grayscale();
  transition: 1s ease;
}

#console:focus {
  outline: none;
}

.console-header {
  color: rgba(100, 160, 0, 1);
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.7);
}

.console-directory {
  color: rgba(120, 120, 255, 1);
  text-shadow: 0px 0px 10px rgba(0, 0, 255, 0.6);
}

.console-normal {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

#virtual-keyboard-container {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard {
  /* background-color: rgba(20, 10, 20, 1); */
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(4, auto);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.kb-item {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 200, 255, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  /* width: 80%; */
  height: 80%;
  flex-grow: 1;
  transition: 0.2s ease;
  text-shadow: 0px 0px 10px rgba(200, 0, 200, 1);
}
.kb-item:active {
  background-color: rgba(150, 50, 150, 0.7);
  border: 1px solid rgba(200, 0, 200, 1);
  color: black;
  transition: 1s ease;
}

#space-item {
  flex-grow: 5;
  border: 1px solid rgba(200, 100, 200, 0.2);
}

.hide {
  display: none !important;
}

#cover {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    rgb(20, 15, 20, 1),
    rgb(10, 5, 10, 1) 2px,
    rgb(90, 60, 90, 1) 3px,
    rgb(60, 50, 60, 1) 5px,
    rgb(40, 30, 40, 1) 35px,
    rgb(25, 20, 25, 1) 40px
  );
  box-shadow: inset 0px 0px 10vh 5px rgb(0, 0, 0, 1);
  position: absolute;
  /* top: 0; */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  overflow: hidden;
  pointer-events: all;
}
#cover.shrink {
  transform: translateY(-100%);
}
.button-contaier {
  width: 80px;
  height: 80px;
  background-color: rgba(30, 20, 30, 1);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.8),
    inset -1px -2px 2px rgb(0, 0, 0, 0.5),
    inset 1px 2px 2px rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-content {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.5),
    inset 0px 0px 5px rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#led {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),
    inset -1px -2px 2px rgb(0, 0, 0, 0.5),
    inset 1px 2px 2px rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 0.1s ease;
}
.button-content:hover #led {
  background-color: rgba(255, 200, 255, 1);
  box-shadow: 0 0 30px 5px rgba(200, 0, 200, 1);
}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* RESPOBNSIVE AREA */

@media only screen and (max-width: 800px) {
  p {
    font-size: 1em;
  }
  .keyboard {
    width: 100%;
    padding: 5px;
  }
}
